<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="flexbox.css">
</head>
<body>
    <div class="flexContainer1">
        <div class="flexItem1"></div>
        <div class="flexItem1"></div>
        <div class="flexItem1"></div>
    </div>
    <div class="flexContainer2">
        <div class="flexItem2"></div>
        <div class="flexItem2"></div>
        <div class="flexItemSpecial"></div>
        <div class="flexItem2"></div>
    </div>
</body>
</html>